<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/fonts.css">
    <link rel="stylesheet" href="CSS/style.css">
    <title>EmpowerRH(Prototipo)</title>
</head>

<body class="mainBackground">
    <header class="header">
        <div class="logo">
            <h3><a class="logo" href="/">EmpowerRH</a></h3>
        </div>
        <div class="menu">
            <a class="link" href="#">Cadastrar</a>
            <a class="link" href="Pesquisar">Pesquisar </a>
            <a class="link" href="Listar">Listar </a>
            <a class="link" href="Ferias">Solicitar Ferias</a>
        </div>

        <button class="mobile_button" onclick="menu()"></button>
    </header>

    <div class="mobile_menu">
        <a class="link" href="#">Cadastrar</a>
        <a class="link" href="Pesquisar">Pesquisar </a>
        <a class="link" href="Listar">Listar </a>
        <a class="link" href="Ferias">Solicitar Ferias</a>
    </div>

    <form action="/cadastrar" method="post">
        <div class="content">
            <h2>Cadastrar Colaborador</h2>

            <label for="" class="label">Nome:</label>
            <input type="text" class="input" name="nome">

            <label for="" class="label">CPF:</label>
            <input type="number"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                class="input" name="cpf" maxlength="11">

            <label for="" class="label">Nascimento:</label>
            <input type="date" class="input" name="nascimento">

            <label for="" class="label">Sexo:</label>
            <select name="sexo" id="sexo" class="input">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
                <option value="Outro">Outro</option>
            </select>

            <label for="" class="label">Telefone: (Com DDD)</label>
            <input type="text" class="input" name="telefone" maxlength="11">

            <label for="" class="label">Estado Civil:</label>
            <select name="estado_civil" id="estado_civil" class="input">
                <option value="Solteiro">Solteiro</option>
                <option value="Casado">Casado</option>
                <option value="Viuvo">Viuvo</option>
                <option value="Divorciado">Divorciado</option>
            </select>

            <label for="" class="label">Cargo:</label>
            <input type="text" class="input" name="cargo">

            <label for="" class="label">Departamento:</label>
            <select name="departamento" id="departamento" class="input">
                <option value="Administrativo">Administrativo</option>
                <option value="RH">RH</option>
            </select>

            <label for="" class="label">Situação:</label>
            <select name="situacao" id="situacao" class="input">
                <option value="Empregado">Empregado</option>
                <option value="Exonerado">Exonerado</option>
            </select>

            <button class="button" type="submit">Cadastrar</button>

            <% if (typeof message !=='undefined' ) { %>
                <h4>
                    <%= message %>
                </h4>
                <% } %>

        </div>

    </form>

</body>
<script>

    function menu() {
        var mobile_button = document.querySelector('.mobile_button')
        var mobile_menu = document.querySelector('.mobile_menu')

        if (mobile_menu.style.display === 'flex') {
            mobile_menu.style.display = 'none'
        } else {
            mobile_menu.style.display = 'flex'
        }

    }

</script>

</html>