<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/fonts.css">
    <link rel="stylesheet" href="CSS/style.css">
    <title>EmpowerRH(Prototipo)</title>
</head>

<body class="mainBackground">
    <header class="header">
        <div class="logo" id="logo_boas_vindas">
            <h3> EmpowerRH</h3>
        </div>
    </header>


    <div class="content" id="content_boas_vindas">
        <h1>Bem Vindo(a)</h1>
        <br>
        <h2><a class="link" href="cadastrar">Cadastrar</a></h2>
        <h2><a class="link" href="Pesquisar">Pesquisar </a></h2>
        <h2><a class="link" href="Listar">Listar</a></h2>
        <h2><a class="link" href="Ferias">Solicitar Ferias</a></h2>
    </div>

</body>


</html>